
@{
    ViewBag.Title = "Index";

    Dictionary<string, bool> currentUserClaims = ViewBag.CurrentUserClaims;
    List<string> currentUserRoles = ViewBag.CurrentUserRoles;
}

<div class="container">
    <div class="row" style="margin:15px">
        <div class="col text-center">
            Admin Page Details
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <ul class="nav flex-column nav-pills">
                <li class="nav-item">
                    Admin Menu
                </li>

                <li class="nav-item">
                    <a class="nav-link active disabled" href="#">Blogs</a>
                </li>

                @if (currentUserClaims.ContainsKey("Blogs/Show"))
                {
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Blogs")">
                            --> Blogs Show
                        </a>
                    </li>
                }

                @if (currentUserClaims.ContainsKey("Blogs/Add"))
                {
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Create", "Blogs")">
                            --> Blogs Add
                        </a>
                    </li>
                }

                <li class="nav-item">
                    <a class="nav-link active disabled" href="#">Roles</a>
                </li>

                @if (currentUserClaims.ContainsKey("Roles/Show"))
                {
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Roles")">
                            --> Role Show
                        </a>
                    </li>
                }

                @if (currentUserClaims.ContainsKey("Roles/Add"))
                {
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Create", "Roles")">
                            --> Role Add
                        </a>
                    </li>
                }

                <li class="nav-item">
                    <a class="nav-link active disabled" href="#">Role Claims</a>
                </li>

                @if (currentUserClaims.ContainsKey("RoleClaims/Show"))
                {
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","RoleClaims")">
                            --> Role Claims Show
                        </a>
                    </li>
                }

                <li class="nav-item">
                    <a class="nav-link active disabled" href="#">Users</a>
                </li>

                @if (currentUserClaims.ContainsKey("Users/Show"))
                {
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Users")">
                            --> User Show
                        </a>
                    </li>
                }

                @if (currentUserClaims.ContainsKey("Users/Add"))
                {
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Create", "Users")">
                            --> User Add
                        </a>
                    </li>
                }

                <li class="nav-item">
                    <a class="nav-link active disabled" href="#">User Roles</a>
                </li>

                @if (currentUserClaims.ContainsKey("UserRoles/Show"))
                {
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "UserRoles")">
                            --> User Show
                        </a>
                    </li>
                }


            </ul>
        </div>
        <div class="col-9">
            <div>
                Welcome (<strong>@ViewBag.Username</strong>) <br />
                <br />
                Your Roles: <br />
                <ul>
                    @foreach (var rolename in currentUserRoles.OrderBy(x=>x))
                    {
                        <li>@rolename</li>
                    }
                </ul>

                Your Claims: <br />

                <ul>
                    @foreach (var claimname in currentUserClaims.Keys.OrderBy(x=>x))
                    {
                        <li>@claimname</li>
                    }

                </ul>
            </div>

        </div>
    </div>
</div>
